
.idea/modules.xml
.idea/dictionaries/mivog.xml
.idea/driving ai trackmania.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/other.xml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/data_analysis-checkpoint.ipynb
__pycache__/create_training_data_new.cpython-36.pyc
__pycache__/directkeys.cpython-36.pyc
__pycache__/getFrame.cpython-36.pyc
__pycache__/getkeys.cpython-36.pyc
__pycache__/grabscreen.cpython-36.pyc
__pycache__/load_data.cpython-36.pyc
__pycache__/process_data_velocity.cpython-36.pyc
__pycache__/recognize_numbers.cpython-36.pyc
all_data_changed model
infos.txt
jupyter notebooks/.ipynb_checkpoints/data_analysis-checkpoint.ipynb
jupyter notebooks/.ipynb_checkpoints/probability_stuff-checkpoint.ipynb
jupyter notebooks/check data_velocity.ipynb
jupyter notebooks/data_analysis.ipynb
jupyter notebooks/extract_numbers.ipynb
jupyter notebooks/probability_stuff.ipynb
jupyter notebooks/tests.ipynb
jupyter notebooks/visu.ipynb
legacy and other/augmentation_test.py
legacy and other/conv_four_classes.py
legacy and other/conv_keras.py
legacy and other/create_training_data.py
legacy and other/create_training_data_with_velocity.py
legacy and other/crop.py
legacy and other/get_number_images.py
legacy and other/grabscreen.py
legacy and other/keys_test.py
legacy and other/process_data.py
legacy and other/process_data_four_classes.py
legacy and other/run_model.py
legacy and other/run_model_four_classes.py
legacy and other/run_model_velo.py
legacy and other/run_model_velo_conv3d.py
legacy and other/screenshot tests.ipynb
legacy and other/simpler_model-30.h5
legacy and other/test loss weights-20.h5
legacy and other/test-50.h5
legacy and other/test_screenshot.py
legacy and other/training_conv3d.py
legacy and other/v3-35.h5
legacy and other/velo.h5
velo_logs/all_data_changed model/events.out.tfevents.1527844285.DESKTOP-2U07V0N
velo_logs/all_data_changed model/events.out.tfevents.1527857229.DESKTOP-2U07V0N
velocity_recognition-100.h5
weights/all_data_changed model_weights.02-0.14.hdf5
weights/all_data_changed model_weights.04-0.13.hdf5
weights/all_data_changed model_weights.06-0.10.hdf5
weights/all_data_changed model_weights.08-0.08.hdf5
weights/all_data_changed model_weights.10-0.08.hdf5
weights/all_data_changed model_weights.12-0.07.hdf5
weights/all_data_changed model_weights.14-0.07.hdf5
weights/all_data_changed model_weights.17-0.07.hdf5
weights/all_data_changed model_weights.19-0.06.hdf5
weights/all_data_changed model_weights.21-0.06.hdf5
weights/all_data_changed model_weights.23-0.05.hdf5
weights/all_data_changed model_weights.25-0.06.hdf5
weights/all_data_changed model_weights.27-0.05.hdf5
weights/all_data_changed model_weights.29-0.07.hdf5
weights/all_data_weights.20-0.08.hdf5
